Source: argeo-tp-bootstrap
Section: unknown
Priority: optional
Maintainer: Mathieu Baudier <mbaudier@argeo.org>
Build-Depends: debhelper-compat (= 13), openjdk-17-jdk, openj9-21
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: argeo-tp-log
Architecture: all
Depends: ${misc:Depends}
Description: Argeo third party logging APIs
 SLF4J and Commons Logging APIs redirecting to Java System.Logger

Package: argeo-tp-log-source
Architecture: all
Depends: ${misc:Depends}
Description: Argeo third party logging APIs (sources)
 Source code packaged as jar files usable in an Eclipse target platform.

Package: argeo-tp-build
Architecture: all
Depends: ${misc:Depends}, argeo-tp-log
Description: Argeo Build third party libraries
 Eclipse ECJ compiler and BND library.

Package: argeo-tp-build-source
Architecture: all
Depends: ${misc:Depends}
Description: Argeo Build third party libraries (sources)
 Source code packaged as jar files usable in an Eclipse target platform.
