#!/usr/bin/make -f

LC_ALL := C.UTF-8
export LC_ALL

JAVA_HOME := /usr/lib/jvm/java-25-openj9-amd64
export JAVA_HOME

# do not include sources in the jar files
export SOURCE_BUNDLES := true

%:
	dh $@ --no-parallel

# explicitly delete source jars until we find a better approach
override_dh_install:
	dh_install
	rm debian/argeo-tp-log/usr/share/a2/log/syslogger/org.argeo.tp/*.src.jar
	rm debian/argeo-tp-build/usr/share/a2/org.argeo.tp.build/*.src.jar
